html {
    height: 100%;
    align-items: center;
}

body {
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    /* background: linear-gradient(-45deg, gray, grey, #41424C, grey); */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

div {
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
p{  
    background-color: lightblue;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    margin: 5px auto;
}
a:link, a:visited {
    color: grey;
    font-weight: bolder;
    font-size: larger;
    text-decoration: underline;
}
a{
    margin: 0px;
    padding: 0px;
    width: 10%;
    display: block
}

/* hello */
/* hello2 */
/* test3 */