@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.vidbox {
    height: 100%;
    position: fixed;
    z-index: -99;
    opacity: 0.2;
}
.center-fit {
    margin: auto;
    overflow: hidden;
}
.about-me{
    align-items: center;
    justify-content: center;
    display: grid;
    background-color: black;
    box-shadow: 0px 0px 50px 80px black;
    border-radius: 20px;
}
body{
    margin: auto;
    background-color: black;
    color:white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    text-align: center;
    width: 45%;
    font-family: "Open Sans", sans-serif; 
}
p{
    font-size: 1.2em;
}
