html {
    height: 100%;
    align-items: center;
}

body {
    cursor: url("../assets/daggerv3.png"), auto;
    height: 100%;
    background-image: url('../assets/omars-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    align-items: center;
    display: flex;
}

div {
    margin: auto;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;

}

strong {
    background-color: gray;
    opacity: .95;
    border-radius: 25px;
    font-size: large;
    text-align: center;
}
p{  
    background-color: gray;
    opacity: .95;
    border-radius: 25px;
    display: flex;
    position: relative;
    justify-content: center;
    width: 300%;
    margin: 0%;
    top:20px;
    left:-40px;
}
a{
    cursor: url("../assets/daggerv3.png"), auto;
}
